container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_setup:
    command: "bash .ebextensions/setup.sh"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: cloudscraper_osse/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: cloudscraper_osse.settings
    