{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome | Cloudscraper</title>
    <link rel="stylesheet" type="text/css" href="/static/cores/css/index.css" />
    <script type="text/javascript" src="/static/cores/index/index.nocache.js"></script>
</head>
<body>
    
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    
    <noscript>
		<div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled in order for this
			application to display correctly.</div>
	</noscript>
	
	<div class="sc">
		<div id="scf">
            <form id="if" method="GET">
                <div id="fs1">
                    <div id="sbox">
                        <div id="sboxiw">
                            <div id="sboxi">
                                <table id="sboxt">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div id="siw">
                                                    <input id="si" class="si" autocomplete="off" dir="ltr" spellcheck="false" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sbtnw">
                    <button id="sbtn" class="sbtn" type="button">
                        <span></span>
                    </button>
                </div>
            </form>
		</div>
	</div>
	
	<div>
		<span id="main">
			<center>
				<div id="main1">
					<div id="main1-1">
						<div id="ml"></div>
						<div id="mt">
						</div>
					</div>
				</div>
				<div id="main2"></div>
				<div id="main3">
					<br/>
				</div>
				<div style="margin-top: 80px; font-size: 8pt; color: gray">
					Powered by <a href="http://www.cloudscraper.ca" style="text-decoration: none;">cloudscraper.ca</a>
				</div>
			</center>
		</span>
		<!-- <div id="f">
			<div id="fi">
				<div id="fw">
					<div id="fwc">
						<div style="display: inline-block;">
							<a href="#" class="fwl">Documentation</a>
							<a href="#" class="fwl">Support</a>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</body>
</html>